---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_mcp_demo_poc_app_application_name }}
  namespace: {{ ocp4_workload_mcp_demo_poc_app_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_mcp_demo_poc_app_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_mcp_demo_poc_app_gitops_repo }}
    targetRevision: {{ ocp4_workload_mcp_demo_poc_app_gitops_repo_tag }}
    path: {{ ocp4_workload_mcp_demo_poc_app_gitops_repo_path }}
    helm:
      valuesObject:
        amqstreams:
          source:
            helm:
              values:
                kafka-broker:
                  kafka:
                    listener:
                      external:
                        tls:
                          secret:
                            value:
                              crt: {{ ocp4_workload_mcp_demo_poc_openshift_ingress_cert }}
                              key: {{ ocp4_workload_mcp_demo_poc_openshift_ingress_key }}
                amq-streams-console:
                  subdomain: {{ r_openshift_subdomain }}
        keycloak:
          source:
            helm:
              values:
                keycloak:
                  route:
                    host: {{ ocp4_workload_mcp_demo_poc_rhbk_host }}.{{ r_openshift_subdomain }}
        globex:
          source:
            helm:
              values:
                globex-web:
                  sso:
                    authServer: https://{{ ocp4_workload_mcp_demo_poc_rhbk_host }}.{{ r_openshift_subdomain }}
                  subdomain: {{ r_openshift_subdomain }}
                globex-store-mcp:
                  route:
                    host: {{ ocp4_workload_mcp_demo_poc_globex_store_mcp_host }}.{{ r_openshift_subdomain }}
                globex-complaints:
                  route:
                    host: {{ ocp4_workload_mcp_demo_poc_globex_complaints_host }}.{{ r_openshift_subdomain }}
                globex-agent:
                  llm:
                    routing:
                      modelName: {{  ocp4_workload_mcp_demo_poc_routing_llm_model_name }}
                      apiKey: {{ ocp4_workload_mcp_demo_poc_routing_llm_api_key }}
                      baseUrl: {{ ocp4_workload_mcp_demo_poc_routing_llm_base_url }}
                    complaint:
                      modelName: {{ ocp4_workload_mcp_demo_poc_complaint_llm_model_name }} 
                      apiKey: {{ ocp4_workload_mcp_demo_poc_complaint_llm_api_key }}
                      baseUrl: {{ ocp4_workload_mcp_demo_poc_complaint_llm_base_url }}
                    order:
                      modelName: {{ ocp4_workload_mcp_demo_poc_order_llm_model_name }}
                      apiKey: {{ ocp4_workload_mcp_demo_poc_order_llm_api_key }}
                      baseUrl: {{ ocp4_workload_mcp_demo_poc_order_llm_base_url }}
                  cors:
                    enabled: true
                  oidc:
                    authServerUrl: https://{{ ocp4_workload_mcp_demo_poc_rhbk_host }}.{{ r_openshift_subdomain }}
                    clientSecret: {{ ocp4_workload_mcp_demo_poc_rhbk_client_gateway_secret }}
                  route:
                    host: {{ ocp4_workload_mcp_demo_poc_globex_agent_host }}.{{ r_openshift_subdomain }}
                keycloak-realmimport-globex:
                  client:
                    gateway: 
                      secret: {{ ocp4_workload_mcp_demo_poc_rhbk_client_gateway_secret }}
        minio:
          enabled: true
          source:
            helm:
              values:
                minio:
                  rootUser: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_root_user }}
                  rootPassword: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_secret }}
                  securityContext:
                    enabled: false

        lgtm:
          enabled: true
          source:
            helm:
              values:
                grafana:
                  ingress:
                    hosts:
                      - grafana-lgtm.{{ r_openshift_subdomain }}
                mimir:
                  minio:
                    rootUser: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_root_user }}
                    rootPassword: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_secret }}
                tempo:
                  tempo:
                    storage:
                      trace:
                        s3:
                          access_key: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_root_user }}
                          secret_key: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_secret }}
                loki:
                  loki:
                    storage:
                      s3:
                        access_key_id: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_root_user }}
                        secret_access_key: {{ ocp4_workload_mcp_demo_poc_app_gitops_minio_secret }}

